#backphoto{
    background: url(/images/5thphoto.jpg);
    background-size: 2000px 1500px;
    height: 500px; 
    width: 100%;

}
.firstdiv{
    position: relative;
    text-align: center;
    color: rgb(15, 14, 14);
    

}
#heading{
    position: absolute;
    top: 10%;
    transform: translate(140%, 140%);
    font-size: 30px;
    
}
#firstmodern{
    position: relative; top: 30px;
    width: 200px;
    margin: 20px;
    border: solid 2px black;
}
#sentence{
    position: absolute;
    top: 30%;
    transform: translate(40%, 40%);
    font-size: 15px;
}
#button{
    margin-top: 6%;
    margin-left: 40%;
    background-color: #8594;

}
#monstera{
    margin-left: 60%;
    width: 130%;
    margin-top: 10%; 
    height: 80%; 
    

}
.container1{
   display: flex;
   gap: 20px;
   padding-top: 50px;
}
.container2{
    display: flex;
    margin-top: 40px;
    background-color: #002d3d;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 30px;
}
.container3{
    padding-bottom: 70px;
    padding-left: 150px;
    padding-top: 40px;
    background-color: rgb(235, 207, 183);
    border-radius: 170%;
    resize: horizontal 40%;
    margin-left: 10%;
    width: 20%;  
}
.divmodern{
    width: 23%;
}
.classic{
    width: 30%;
}
.stair{
    width: 30%;
}
.last{
    display: flex;
    list-style: none;
    background-color: #002d3d;
    margin-right: 20%;
    padding-bottom: 50px;
}
.Newsletter{
    text-align: center;
}
.Back{
    background: url(/images/actualpic.jpg);
     width: 100%;
     height: 800px;
     background-position: center;
     background-size: 100%;
     height: 400px;
}
.first{
    display: flex;

}
.design{
    width: 100%;
    background-color: #002d3d;
    padding-top: 30px;
    padding-bottom: 30px;
}
.popular{
    width: 30%;
    padding-left: 150px;   
}
.shelf{
    width: 30%;
}
.mustard{
    width: 30%;
}
#button{
    text-align: center;
    padding-left: 90px;
}
.guide{
    width: 100%;
    display: flex;
    background-color: #ffe5d6;
}
#find{
    padding-right: 70px;
}
#inspo{
    margin-left: -5%;
    font-size: medium;
}
#ideas{
    margin-left: -5%;
    font-size: small;
}
#exp{
    margin-left: -5%;
    font-size: small;
}
#st{
    margin-left: -5%;
    font-size: small;
}
#blo{
    margin-left: -5%;
    font-size: small;
}
.newsletter{
    padding-bottom: 100px;
    text-align: center;
    background-color: #ffffff;
}
button{
    background-color: peachpuff;
}
.home{
    width: 20%;
    font-size: medium;
    margin-left: 90px;
}
.pay{
    width: 20%;
}
.pay{
    width: 20%;   
}
.pay ul li{
    list-style-type: none;   
}
.room{
    width: 20%;
}
.room ul li{
    list-style: none;
}
.coupon{
    width: 20%;
}
.coupon ul li{
    list-style: none;

}
.finale{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    background-color: #002d3d;
    padding-top: 20px;
    font-size: smaller;
    color: white;   
}
.ship{
    width: 20%;
}
.ship ul li{
    list-style: none;
}
#hom{
    color: #ffac7d;
}
.pop{
    width: 100%;
    color: #ffac7d;
    margin-left: 12%;
}
.wood{
    display: flex;
    
}
#say{
    margin-left: 45%;
    font-size: medium;
    border-radius: 5px;

}
.styli{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* padding-top: -140px; */
    padding-bottom: 40px;
    
}
#done{
    border-radius: 5px;
    background-color: rgb(243, 217, 221);
    border: none;
    padding-right: 130px;
    padding-top: 5px;
}
#head{
    border: none;
    background-color: white;
}
#nian{
    border: none;
    background-color: white;
}
#explore{
    color: #002d3d;
    margin-left: 5%;
}
.log{
    width: 100%;
    /* display: flex; */
}
.up{
    width: 40%;
    float: right;
    display: flex;
}
.list{
    list-style: none;
}
.middle{
    width: 30%;
}
.container{
    width: 30%;
}
.full{
    display: flex;
}










                                                                                                                                                                                                                                                                                                                                                                                                                                    